/* GLOBAL CSS STYLE */

body { 
    background: #354b61;
    font-family: Ubuntu;
}
.bg-dark {
    background: #2f4459!important;
}
.main {
    max-width: 720px;
    font-size: 1rem;
}

.mt-5-rem{
    margin-top: 5rem!important;
}

/* BLOG PAGE CSS STYLE */

.card{
    background: #223b55!important;
}

.card > a:hover {
    color: unset;
    text-decoration: none;
    background: #ef7b8e;
}
.card > a {
    color: white;
}

div[id="posts"] > div {
    display: none;
}

div[id="posts"] *:first-child {
    display: block;
}