/* GLOBAL CSS STYLE */
:root{
    --hover-color: #527292;/*#ef7b8e;*/
    --primary-color:#223b55;
    --secundary-color:#354b61;
}



body { 
    background: var(--secundary-color);
    font-family: Ubuntu;
}

.bg-navbar {
    background: var(--primary-color)!important;
}
.main {
    max-width: 720px;
    font-size: 1rem;
}

.mt-5-rem{
    margin-top: 5rem!important;
}

/* BLOG PAGE CSS STYLE */

.card{
    background: var(--primary-color)!important;
}

.card > a:hover {
    color: unset;
    text-decoration: none;
    background: var(--hover-color);
}
.card > a {
    color: white;
}

div[id="posts"] > div {
    display: none;
}

div[id="posts"] *:first-child {
    display: block;
}

.page-link{
    background-color:#2c4661c2!;
}

.page-item.active .page-link{
    border-color: var(--hover-color);
}

.page-link {
    background-color: #2c4661c2!important;
    color:#ffffff;
}

.page-item.disabled .page-link{
    background-color: #41556b!important;
}

a.page-link:hover {
    color: var(--hover-color);
}

.codehilite{
    padding: 10px 0px 0px 10px;
    border-radius: 10px;
}

pre {
    color: wheat !important;
}

img {
    max-width: 100%;
    display: block;
    margin: auto;
}

strong {
    color: orange;
}