{% extends "base.html" %}
{% block title %}
	{{page.title}}
{% endblock %}

{% block head %}
	{{ super() }}
	<style type="text/css">
		.card{
			background: #223b55!important;
		}

		.card > a:hover {
		    color: unset;
		    text-decoration: none;
		    background: #ef7b8e;
		}
		.card > a {
			color: white;
		}

		div[id="posts"] > div {
			display: none;
		}

		div[id="posts"] *:first-child {
			display: block;
		}
	</style>
{% endblock %}

{% block content %}
<!-- {{ 	page }}
{{ page.resumo  }} -->
<div id="posts">
	{% for page in range(1, n_page+1) %}
		<div id="page-{{page}}">
			{% for i in range(page_size)%}
				{% if posts | length != 0 %} 
					{% set post = posts.pop() %}
					<div class="card mb-3">
						<a href="{{post.path}}">
						<div class="card-body">
							<h4 class="card-title">{{post.title}}</h4>
							<p class="card-text">{{post}}</p>
				    		<p class="card-text">
				    			<small class="text-muted">Last updated {{post.published}} ago</small>
				    		</p>
						</div>
						</a>
					</div>
				{% endif%}
			{% endfor %}
		</div>
	{% endfor %}
	<nav class="text-center" aria-label="...">
	  <ul class="pagination d-inline-flex">
	    <li class="page-item disabled">
	      <span class="page-link">Previous</span>
	    </li>
	    <li class="page-item active">
	    	<a class="page-link" href="#" value="page-1">1</a>
	    	<span class="sr-only">(current)</span>
	    </li>
	    {% for page in range(2, n_page+1) %}
	    	<li class="page-item">
	    		<a class="page-link" href="#" value="page-{{page}}">{{page}}</a>
	    	</li>
	    {% endfor%}
	    <li class="page-item">
	      <a class="page-link" href="#">Next</a>
	    </li>
	  </ul>
	</nav>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
	class Page {
		// maxPage = 3;
		actualPage = 1;

		constructor(pages, items){
			this.pages = pages;
			this.items = items;
			this.maxPage = items.length - 2 ;

			items.forEach((item, index) => {
				console.log(index);
				if(index == 0 ){
					item.addEventListener('click', (event) =>{
						this.previousPage();
					});
				}
				else if(index + 1 == items.length ){
					item.addEventListener('click', (event) =>{
						this.nextPage();
					});
				}
				else {
					item.addEventListener('click', (event) =>{
						this.toPage(index);
					});
				}
			});
		}
		toPage(number){
			this.#changePage(number);
			console.log(number);
		};

		previousPage(){
			if(this.actualPage > 1){
				this.actualPage-=1;
				this.#changePage(number);
				console.log(this.actualPage);
			}

		};
		nextPage() {
			if(this.actualPage < this.maxPage){
				this.actualPage+=1;
				this.#changePage(number);
				console.log(this.actualPage);
			}
		};

		#changePage(number) {
			console.log("Number: " + number);
			console.log("ActualPage: " + this.actualPage);
			this.pages[this.actualPage - 1].style['display'] = 'none';
			this.items[this.actualPage].classList.remove('active');

			this.pages[number - 1].style['display'] = 'block';
			this.items[number].classList.add('active');

			this.actualPage = number;

		};
	};

	pages = document.querySelectorAll("div[id='posts'] > div");
	items = document.querySelectorAll(".page-item");

	let page = new Page(pages, items);

</script>
{% endblock%}

