<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <!-- <meta http-equiv="refresh" content="5">  -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <title>Frozen-Blog</title>
  </head>
   <body class="vsc-initialized">
       <nav class="navbar navbar-expand navbar-dark bg-dark">  
            <div class="container-fluid" style="width: 576px;">
                <a class="navbar-brand">Home</a>
                <ul class="navbar-nav">
                      <li class="nav-item">
                          <a class="nav-link" href="#">
                              Blog
                          </a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#">
                              Projects</a>
                      </li>
                  </ul>
            </div>
       </nav>
    <div class="container">      
        <main id="main">
           Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dolor dolor, vehicula a convallis quis, fringilla quis dolor. In cursus ultrices nulla quis tristique. Morbi quam nulla, dictum vel tempus vitae, blandit at metus. Pellentesque sit amet ullamcorper magna. Vivamus tristique hendrerit diam, vel tincidunt nulla. Morbi odio sem, volutpat sollicitudin arcu sit amet, elementum vehicula mauris. Quisque rhoncus vitae odio id maximus. Maecenas tempor urna non quam porta, sit amet efficitur nisl faucibus. Mauris ut tincidunt risus. Nam orci lectus, maximus vel semper faucibus, tempor ac quam. Suspendisse at risus diam. Cras fermentum vel massa at pharetra. Fusce sit amet cursus risus, et pharetra dui. Sed consectetur vel quam sed placerat. Etiam eu purus eu nulla tincidunt faucibus.

Vestibulum urna lorem, pharetra ut neque sed, porttitor bibendum ligula. Nunc sagittis in elit ac feugiat. Morbi volutpat, est vitae interdum mattis, urna ligula dapibus ex, nec mattis magna turpis a enim. Ut fringilla est a ultricies eleifend. Phasellus feugiat eget purus sed lacinia. Aliquam efficitur nisl nec ipsum placerat, sed bibendum magna suscipit. Sed pellentesque mauris quis interdum pharetra. Quisque consequat, justo ac tincidunt dictum, enim magna vestibulum metus, quis venenatis dolor orci vitae neque. Quisque ultrices ligula a turpis porttitor molestie. Donec scelerisque fermentum lacinia. Maecenas eu egestas nunc, ut interdum diam. Duis lacus turpis, egestas in felis eu, vulputate rhoncus libero. Etiam volutpat, est tincidunt efficitur egestas, tortor lacus rutrum magna, rutrum condimentum dui purus sed metus. Nullam urna neque, euismod sit amet venenatis non, suscipit eget dolor.

Curabitur sit amet nisi ut mauris ornare porta porta a lacus. Nulla pulvinar dignissim felis, eget sagittis justo vestibulum sit amet. Nullam id mattis risus. Nullam ut lacus lacinia, malesuada odio id, luctus sem. Integer tellus neque, placerat eu aliquet sit amet, sodales elementum tellus. Mauris fermentum, felis nec tincidunt lacinia, urna risus rutrum augue, sed pretium velit lorem vel lorem. Proin consequat eleifend pellentesque. Nunc faucibus ullamcorper tortor, sit amet interdum nisl luctus sit amet. Suspendisse potenti. Nulla pharetra tincidunt diam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at lacus justo. Nullam tristique suscipit semper.

Cras et congue dui. Quisque quis urna at lectus gravida bibendum sit amet non dolor. Integer in vulputate risus. Duis vulputate tellus non tellus posuere, ac imperdiet elit ultrices. Nam dictum porttitor feugiat. Maecenas non pulvinar lectus, vitae lobortis ipsum. Vestibulum sed ligula vitae ante volutpat aliquet vitae et nulla. Suspendisse a justo porttitor, hendrerit lacus at, feugiat nisi. Proin vestibulum, magna non ultrices sollicitudin, dolor nisl rhoncus mauris, nec congue tortor nisl a ligula. Sed eu erat id mi laoreet suscipit. Cras et faucibus lacus.

Nunc eleifend cursus tortor ac consectetur. Ut nibh augue, gravida sed venenatis porta, sollicitudin sit amet mauris. Pellentesque lectus magna, sagittis a nibh sed, congue auctor ipsum. Vestibulum vestibulum, diam vel accumsan malesuada, nisl leo aliquam libero, in volutpat enim eros ut justo. Etiam dictum sem sed lorem volutpat, ut molestie augue consectetur. Donec aliquam, enim ut vehicula pharetra, diam diam gravida mauris, eu egestas sem nibh eget nunc. Proin volutpat ornare pharetra. Cras dictum sapien sit amet quam aliquam suscipit. Donec facilisis cursus fermentum. Duis non consequat justo, sit amet euismod risus. Sed sit amet tristique eros. Morbi at lacus quis nulla tincidunt varius. Morbi sollicitudin mi non egestas ultrices. Nulla accumsan dictum nisl non posuere. Praesent vehicula in enim in feugiat.  
        </main>
    </body>
</html>

<style type="text/css">
    body { 
        background: #354b61;
    }
    .bg-dark {
            background: #2f4459!important;
    }
    .main {
        max-width: 720px;
    }
</style>
